body{
    font-family: 'Montserrat';
}

.intro{
    background-color: lightyellow;
}

.brand{
    margin-left: 30px;
}

.title{
    margin: 100px;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
}

.navbar-brand{
    font-size: 2rem;
}

.planet{
    width: 50%;
    min-width: 250px;
    margin: 100px auto;
    display: block;
}

i{
    display: inline-block;
    font-size: 40px;
    margin: 60px 45% 30px 45%;
}

.takeme{
    display: block;
    margin: auto;
    max-width: 200px;
}

.sm-title{
    text-align: center;
}

.description{
    text-align: justify;
    font-family: 'Poppins';
}

.img-waste{
    display: block;
    width: 50%;
    margin: 10% auto;
}

.img-3r{
    display: block;
    width: 38%;
    margin: 10% auto;
}

.img-6r{
    display: block;
    width: 27.2%;
    margin: 10% auto;
}

footer{
    background-color: #BC986A;
    text-align: center;
    padding: 20px 0 5px;
}

.social{
    color: #659DBD;
}

.marca{
    padding-top: 10px;
}

.carcon{
    background-color: black;
    border-radius: 100%;
    margin: 100% 100% 100% 50%;
}

.control{
    display: inline-block;
    margin: 100px;
}
    